@charset "utf-8";
/* CSS Document */

* {
padding:0;
margin:0;
}

body {
background:white;

}

#wrapper {
width:940px;
margin:20px auto;
background:white;
}

#main {
width:500px;	
}

nav {
height:3em;
background:background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */;
line-height:3em;
}

nav ul {
text-align:center;

}

nav ul li.small {
list-style-type:none;
width:14.66%;
float:left;
}

nav ul li.big {
list-style-type:none;
width:18.66%;
float:left;
}

nav ul li a {	
text-decoration:none;
color:black;
display:block;
font-weight:bold;
}

nav ul li a:hover {
color:green;
background:white;
}