@charset "utf-8";

* {
padding:0;
margin:0;
}

@font-face {
    font-family: 'mathletebulky';
    src: url('../fonts/Mathlete-Bulky[1]-webfont.eot');
    src: url('../fonts/Mathlete-Bulky[1]-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mathlete-Bulky[1]-webfont.woff2') format('woff2'),
         url('../fonts/Mathlete-Bulky[1]-webfont.woff') format('woff'),
         url('../fonts/Mathlete-Bulky[1]-webfont.ttf') format('truetype'),
         url('../fonts/Mathlete-Bulky[1]-webfont.svg#mathletebulky') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mathletebulky_slant';
    src: url('../fonts/Mathlete-BulkySlant[1]-webfont.eot');
    src: url('../fonts/Mathlete-BulkySlant[1]-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mathlete-BulkySlant[1]-webfont.woff2') format('woff2'),
         url('../fonts/Mathlete-BulkySlant[1]-webfont.woff') format('woff'),
         url('../fonts/Mathlete-BulkySlant[1]-webfont.ttf') format('truetype'),
         url('../fonts/Mathlete-BulkySlant[1]-webfont.svg#mathletebulky_slant') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mathleteskinny';
    src: url('../fonts/Mathlete-Skinny[1]-webfont.eot');
    src: url('../fonts/Mathlete-Skinny[1]-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mathlete-Skinny[1]-webfont.woff2') format('woff2'),
         url('../fonts/Mathlete-Skinny[1]-webfont.woff') format('woff'),
         url('../fonts/Mathlete-Skinny[1]-webfont.ttf') format('truetype'),
         url('../fonts/Mathlete-Skinny[1]-webfont.svg#mathleteskinny') format('svg');
    font-weight: normal;
    font-style: normal;

}

#wrapper {
width:100%;
margin:auto;

}

header {
background-image:url(../images/pixels3.gif);
height:250px;
	
}



#main {
width:500px;
margin: 5% auto 5%;	
padding-bottom:20px;
}



img {
display:block;	
}

nav {
height:50px;
background-color:rgba(242, 239, 24, .9);
line-height:50px;
width:369px;
float:left;
font-family:'mathleteskinny'; 
font-size:40px;	
margin-top:200px;
}


nav ul {
text-align:center;

}

/*nav ul li.small {
list-style-type:none;
width:31.33%;
float:left;
border-radius:8px;
}*/

nav ul li.big {
list-style-type:none;
width:25%;
float:left;
border-radius:8px;

}

nav ul li a {	
text-decoration:none;
color:#F4085C;
display:block;
font-weight:bold;

}

nav ul li a:hover {
color:#F4085C;
background:rgba(119, 244, 236, .8);

}

#footer li{
display:inline;
padding:0 80px;
}

#footer ul {
text-align:center;
}

#footer {
background-color: #05A693;
height:2em;
line-height:2em;
clear:both;
color:black;
font-family: 'mathletebulky';
font-weight:400;
font-size:25px;
width:100%;
margin:0 auto;
}

#footer a {
color:white;	
}

