* {
    padding:0;
    margin:0;
}

@font-face {
    font-family: 'mathletebulky';
    src: url('../fonts/Mathlete-Bulky[1]-webfont.eot');
    src: url('../fonts/Mathlete-Bulky[1]-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mathlete-Bulky[1]-webfont.woff2') format('woff2'),
         url('../fonts/Mathlete-Bulky[1]-webfont.woff') format('woff'),
         url('../fonts/Mathlete-Bulky[1]-webfont.ttf') format('truetype'),
         url('../fonts/Mathlete-Bulky[1]-webfont.svg#mathletebulky') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mathleteskinny';
    src: url('../fonts/Mathlete-Skinny[1]-webfont.eot');
    src: url('../fonts/Mathlete-Skinny[1]-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mathlete-Skinny[1]-webfont.woff2') format('woff2'),
         url('../fonts/Mathlete-Skinny[1]-webfont.woff') format('woff'),
         url('../fonts/Mathlete-Skinny[1]-webfont.ttf') format('truetype'),
         url('../fonts/Mathlete-Skinny[1]-webfont.svg#mathleteskinny') format('svg');
    font-weight: normal;
    font-style: normal;
}

#wrapper {
    width: 100%;
    margin: 200px auto 150px;
    background: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    width: 500px;
    margin: 0 auto;	
    padding-bottom: 20px;
}

img {
    display: block;	
    padding-bottom: 20px;
}

h1 {
	font-family: 'mathleteskinny'; 
	font-size: 20px;
	padding-bottom: 30px; 
 }

nav {
    height: 50px;
    background-color: rgba(242, 239, 24, .9);
    line-height: 50px;
    width: 370px;
    font-family: 'mathleteskinny'; 
    font-size: 40px;	
    margin: 0 auto; 
}

nav ul {
    text-align: center;
}


nav ul li.big {
    list-style-type: none;
    width: 33.33%;
    float: left;
}

nav ul li a {	
    text-decoration: none;
    color: #F4085C;
    display: block;
    font-weight: bold;
}

nav ul li a:hover {
    color: #F4085C;
    background: rgba(119, 244, 236, .8);
}

footer {
    background-color: #05A693;
    height: 2em;
    line-height: 2em;
    clear: both;
    color: black;
    font-family: 'mathletebulky';
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    margin-top: 100px;
}

footer ul {
    text-align: center;
}

footer li{
    display: inline;
    padding: 0 80px;
    color: white;   
}

footer a {
    text-decoration: none;
    color: white;
}
